<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KeyboardTrainerWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KeyboardTrainerWPF.Properties.Settings>
            <setting name="UserName" serializeAs="String">
                <value>Guest</value>
            </setting>
            <setting name="Complexity" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LanguageCode" serializeAs="String">
                <value>en-US</value>
            </setting>
        </KeyboardTrainerWPF.Properties.Settings>
    </userSettings>
	<connectionStrings>
		<add name="LocalSQLiteDB" connectionString="Data Source=|DataDirectory|\KeyboardTrainerDB.db;" providerName="System.Data.SQLite" />
	</connectionStrings>
</configuration>